.kontakt
{
  color: var(--bc2);
  background-color: rgb(235, 235, 235);
  width: 100%;
  /* height: 40em; */
  position: relative;
}
.kontakt .pruh
{
  background-color: var(--bc2);
  width: 100%;
  height: 4em;
}
.kontakt .vp
{
  width: 100%;
  padding: 2em 3em;
}
.kontakt .vp .name
{
  font: 600 2.0em var(--font-header2);
}
.kontakt .vp p
{
  font: 400 1.5em var(--font-header);
  margin: 0.5em 0;
  margin-bottom: 1em;
}
.kontakt .vp .mobil
{
  font: 400 1.4em var(--font-header);
  display: flex;
  align-items: center;
  gap: 0.4em;
}
.kontakt .vp .email
{
  font: 400 1.4em var(--font-header);
  margin-top: 0.2em;
  display: flex;
  align-items: center;
  gap: 0.6em;
}
.kontakt .vp .email a
{
  color: var(--bc2);
  text-decoration: none;
}
.kontakt .vp .social
{
  font-size: 1.5em;
  margin-top: 1.0em;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.kontakt .vp .social i
{
  font-size: 1.1em;
  cursor: pointer;
}