.kurzy
{
  background-color: var(--bc1);
  width: 100%;
  position: relative;
}
/*.kurzy h1
{
    color: white;
    background-color: var(--bc2);
    font: 600 2.0em var(--font-header2);
    margin: 0;
    padding: 0.8em 0;
    text-align: center;
}*/
.kurzy .k1
{
  color: white;
  background-color: var(--bc1);
  /* height: 38em !important; */
  padding-top: 12em !important;
}
.kurzy .k1 .s1 a
{
  color: white;
  background-color: var(--bc2);
  border-color: var(--bc1) !important;
  box-shadow: -7px -7px var(--bc2);
}
.kurzy .k1 .s1 a:active
{
  box-shadow: -4px -4px var(--bc2);
}
.kurzy .k1 .s2
{
  right: 0;
}
.kurzy .k2
{
  background-color: whitesmoke;
  justify-content: end !important;
}
.kurzy .k2 .s1
{
    text-align: right;
}
.kurzy .k2 .s1 .cont
{
    justify-content: end;
}
.kurzy .k2 .s1 a
{
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  border-color: whitesmoke !important;
  box-shadow: -7px -7px rgba(0, 0, 0, 0.9);
}
.kurzy .k2 .s1 a:active
{
  box-shadow: -4px -4px rgba(0, 0, 0, 0.9);
}
.kurzy .k2 .s1 .k-name
{
  justify-content: end;
}
.kurzy .k2 .s2
{
 left: 0;
}
.kurzy .k3
{
  color: var(--bc2);
  background-color: var(--bc3);
}
.kurzy .k3 .s1 a
{
  color: white;
  background-color: var(--bc2);
  border-color: var(--bc3) !important;
  box-shadow: -7px -7px var(--bc2);
}
.kurzy .k3 .s1 a:active
{
  box-shadow: -4px -4px var(--bc4);
}
.kurzy .k3 .s2
{
  right: 0;
}
.kurzy .k
{
  width: 100%;
  /* height: 36em; */
  padding: 12vh 10vw;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  gap: 4em;
}
.kurzy .k .s1
{
  max-width: 45vw;
}
.kurzy .k .s1 .k-name
{
  font: 600 1.5em var(--font-header3);
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.kurzy .k .s1 p
{
  font: 400 1.25em var(--font-header);
  margin-bottom: 3.0em;
}
.kurzy .k .s1 .cont
{
  display: flex;
  align-items: center;
  gap: 4em;
}
.kurzy .k .s1 .cont .cena
{
  font: 700 2em var(--font-par);
}
.kurzy .k .s1 .cont .cena .hod
{
  font: 600 0.75em var(--font-par);
}
.kurzy .k .s1 a
{
  font: 600 1.2em var(--font-header);
  border: 3px solid transparent;
  /* border-radius: 0.6em; */
  padding: 0.6em 1em;
  display: flex;
  align-items: center;
  gap: 0.8em;
  position: relative;
  left: 0;
  top: 0;
  text-decoration: none;
  text-wrap: nowrap;
  transition: all .12s;
  cursor: pointer;
}
.kurzy .k .s1 a:active
{
  left: -3px;
  top: -3px;
}
.kurzy .k .s2
{
  width: 35vw;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}
.kurzy .k .s2 img
{
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}

@media (orientation: portrait)
{
  .kurzy .k
  {
    display: flex;
    flex-direction: column;
    padding: 6vh 5vw 3vh 5vw;
  }
  .kurzy .k .s1
  {
    max-width: 80vw;
  }
  .kurzy .k .s2
  {
    width: 100vw;
    max-height: 30vh !important;
    position: relative;
  }
  .kurzy .k .s2 img
  {
    max-height: 30vh;
  }
}