.recenze
{
  width: 100%;
  position: relative;
}
.recenze .pruh
{
  background-color: var(--bc1);
  width: 100%;
  height: 4em;
}
.recenze .cont
{
  /* background-color: gray; */
  width: 100%;
  position: relative;
}
.recenze .cont .background
{
  width: 100%;
  height: 100%;
  opacity: 0.45;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  filter: grayscale(0.5);
  z-index: -1;
}
.recenze .cont .recCont
{
  width: 100%;
  height: 100%;
  padding: 2em 3vw;
  position: relative;
  display: flex;
  gap: 3em;
  overflow-x: scroll;
}
.recenze .cont .rec
{
  background-color: white;
  height: 24em;
  min-width: 45em;
  max-width: 45em;
  border-radius: 1em;
  display: flex;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}
.recenze .cont .rec .s1
{
  width: 20em;
  height: 100%;
  /* padding: 3em 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.recenze .cont .rec .s1 img
{
  width: 60%;
  border-radius: 50%;
}
.recenze .cont .rec .s1 .name
{
  font: 500 1.4em var(--font-header);
}
.recenze .cont .rec .s2
{
  width: 100%;
  height: 100%;
  padding: 2em;
  padding-left: 0;
  position: relative;
}
.recenze .cont .rec .s2 p
{
  font: 300 1.2em var(--font-header);
  margin: 0;
}
.recenze .cont .rec .s2 .stars
{
  color: var(--bc3);
  /* background-color: gray; */
  font-size: 2.0em;
  width: 100%;
  /* height: 3em; */
  position: absolute;
  bottom: 1em;
  right: 1em;
  display: flex;
  justify-content: end;
  align-items: center;
}
.recenze .cont .rec .s2 .stars i
{
  height: 100%;
}

.recenze ::-webkit-scrollbar-thumb
{
  background: rgb(11, 46, 44);
}
.recenze ::-webkit-scrollbar-thumb:hover
{
  background: rgba(11, 46, 44, 0.85);
}

@media (orientation: portrait)
{
  .recenze .cont .recCont
  {
    padding: 2em 3vw;
    gap: 1em;
  }
  .recenze .cont .rec
  {
    min-width: 90vw;
    max-width: 90vw;
    height: fit-content;
    flex-direction: column;
  }
  .recenze .cont .rec .s1
  {
    width: 100%;
    /* height: 100%; */
  }
  .recenze .cont .rec .s1 img
  {
    width: 40%;
    margin-top: 2em;
  }
  .recenze .cont .rec .s2
  {
    padding: 2em;
    padding-bottom: 5em;
  }
}
/* @media (orientation: portrait)
{
  .recenze .cont
  {
    padding: 0 8vw;
    flex-direction: column;
    gap: 0;
  }
  .recenze .cont .s2
  {
    margin-top: -2em;
  }
} */