.cont
{
  width: 100%;
  height: 100vh;
  display: flex;
}
.cont .s1
{
  width: 55%;
  height: 100%;
  padding: 0 2em;
  padding-top: var(--hh);
}
.cont .s1 .name
{
  font: 700 2.5em var(--f1);
}
.cont .s1 p
{
  font: 400 1.4em var(--f1);
  margin-bottom: 2em;
}
.cont .s1 a
{
  color: var(--c1);
  font: 700 1.6em var(--f1);
  border: 4px solid var(--c32);
  border-radius: 0.2em;
  padding: 0.4em 0.6em;
  text-decoration: none;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
  transition: all .12s;
}
.cont .s1 a:hover
{
  opacity: 0.8;
}
.cont .s2
{
  background: rgb(37,153,206);
  background: linear-gradient(90deg, rgba(37,153,206,1) 0%, rgba(39,80,107,1) 100%);
  width: 45%;
  height: 100%;
  display: flex;
  align-items: end;
}
.cont .s2 img
{
  width: 100%;
  height: 80%;
  border-top-left-radius: 50vw;
  border-top-right-radius: 50vw;
  object-fit: cover;
}

@media (orientation: portrait)
{
  .cont
  {
    flex-direction: column;
  }
  .cont .s1
  {
    width: 100%;
    height: fit-content;
  }
  .cont .s2
  {
    width: 100%;
    height: fit-content;
    margin-top: 3em;
  }
  .cont .s2 img
  {

  }
}
