header
{
  background-color: rgba(255, 255, 255, 0.6);
  height: var(--hh);
  padding: 0 2em;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
header .name
{
  color: var(--c1);
  font: 400 1.4em var(--f1);
  text-decoration: none;
}
header .name span
{
  color: var(--c3);
  font-weight: 700;
}
header nav
{
  display: flex;
  gap: 2.0em;
}
header nav a
{
  color: var(--c1);
  font: 700 1.2em var(--f1);
  height: 2em;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  transition: all .12s;
  cursor: pointer;
}
header nav a .line
{
  background-color: var(--c1);
  width: 0;
  height: 0.1em;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all .12s;

}
header nav a:hover .line
{
  width: 100%;
}
header button
{
  background-color: transparent;
  font-size: 1.5em;
  aspect-ratio: 1/1;
  height: 60%;
  border: none;
  border-radius: 50%;
  display: none;
}

@media (orientation: portrait)
{
  header nav
  {
    display: none;
  }
  header button
  {
    display: inline;
  }
}