:root
{
  --c1: rgb(15, 15, 15);
  --c2: rgb(254, 254, 254);
  /* --c3: rgb(32, 175, 219); */
  --c3: rgb(67, 176, 255);
  --c32: rgb(0, 140, 255);
  --c4: rgb(76, 240, 57);
  --f1: "Poppins";
  --f2: "Major Mono Display";
  --hh: 5.5em;
}
html
{
  scroll-behavior: smooth;
}
body
{
  margin: 0;
}
body *
{
  box-sizing: border-box;
}
.anchor
{
  position: relative;
  top: -5.5em;
}
.disabled
{
  display: none !important;
}

h1
{
  font: 700 1.5em var(--f1);
  text-align: center;
}
h2
{
  opacity: 0.75;
  font: 400 1.4em var(--f1);
  margin-top: 2em;
  text-align: center;
}