/* --- úvod --- */
.uvod
{
  /* background-color: red; */
  width: 100%;
  height: 80vh;
  padding: 0 10vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 1.0em;
}
.uvod .line
{
  background-color: var(--c3);
  opacity: 0.8;
  width: 24vw;
  height: 100%;
  position: absolute;
  left: 7em;
}
.uvod img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.uvod span
{
  background-color: rgba(255, 255, 255, 0.5);
  font: 500 1.4em var(--f1);
  width: 25vw;
  padding: 1em;
}
.uvod .viceButton
{
  color: var(--c2);
  background-color: var(--c3);
  font: 600 1.3em var(--f1);
  padding: 0.8em 1.0em;
  text-decoration: none;
  cursor: pointer;
}
.uvod .arrowCont
{
  width: 100%;
  height: calc(100% + 2em);
  display: flex;
  justify-content: center;
  align-items: end;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}
.uvod .arrowCont a
{
  color: var(--c1);
  background-color: rgb(241, 241, 241);
  aspect-ratio: 1/1;
  width: 4em;
  border: 8px solid var(--c2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  pointer-events: all;
  cursor: pointer;
}
.uvod .arrowCont a i
{
  scale: 1.5;
}

/* --- úvod2 --- */
.uvod2
{
  /* background-color: green; */
  width: 100%;
  /* height: 25em; */
  padding-top: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  pointer-events: none;
}
.uvod2 .bgCont
{
  /* background-color: red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: absolute;
  top: 5em;
  z-index: -1;
}
.uvod2 .bg
{
  background: var(--c3);
  background: linear-gradient(225deg, rgba(67, 176, 255,0.9) 0%, rgba(0,0,0,0) 90%);
  /* background-color: var(--c3); */
  width: 24em;
  height: 30em;
  border-top-left-radius: 50em;
  border-top-right-radius: 50em;
  position: absolute;
}
.uvod2 p
{
  font: 400 1.4em var(--f1);
  width: 40vw;
  margin: 0;
  /* margin-top: 0.5em; */
}
.uvod2 nav
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.uvod2 nav .cont
{
  background-color: var(--c2);
  width: 16em;
  /* height: 20em; */
  margin-top: 5em;
  border-radius: 1em;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  pointer-events: all;
}
.uvod2 nav .cont i
{
  scale: 3.2;
  margin-top: 0.5em;
}
.uvod2 nav .cont .name
{
  font: 500 1.5em var(--f1);
  margin-top: 0.8em;
}
.uvod2 nav .cont p
{
  font: 300 1.3em var(--f1);
  width: 100%;
}
.uvod2 nav .cont a
{
  color: var(--c1s);
  background-color: var(--c3);
  width: 100%;
  border: none;
  border-radius: 0.5em;
  margin-top: 0.5em;
  padding: 0.7em 0;
  padding-bottom: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  cursor: pointer;
}
.uvod2 nav .cont a i
{
  opacity: 0.7;
  scale: 2.0;
}

/* --- cvičení --- */
.cviceni
{
  width: 100%;
  margin-top: 6em;
}
.cviceni .cvik
{
  width: 100%;
  height: 28em;
  position: relative;
}
.cviceni .cvik img
{
  width: 55%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.cviceni .cvik1 img
{
  left: 0;
}
.cviceni .cvik2 img
{
  right: 0;
  width: 45%;
}
.cviceni .cvik3 img
{
  left: 0;
}
.cviceni .cvik .info
{
  width: 45%;
  height: 100%;
  padding: 3.0em 1.5em 1.5em 2.0em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  position: absolute;
  right: 0;
}
.cviceni .cvik2 .info
{
  width: 55%;
  left: 0;
}
.cviceni .cvik .info .number
{
  opacity: 0.15;
  font: 600 6.0em var(--f1);
  position: absolute;
  top: -0.2em;
}
.cviceni .cvik .info .name
{
  color: var(--c1);
  font: 700 3.0em var(--f2);
}
.cviceni .cvik .info p
{
  font: 400 1.4em var(--f1);
  margin: 0;
}
.cviceni .cvik .info nav
{
  display: flex;
  gap: 2em;
  position: absolute;
  bottom: 3.0em;
}
.cviceni .cvik .info nav a
{
  color: var(--c2);
  background-color: var(--c32);
  font: 500 1.4em var(--f1);
  border-radius: 0.2em;
  padding: 0.6em 1.2em;
  display: flex;
  align-items: center;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  cursor: pointer;
}
.cviceni .cvik .info nav .link2
{
  color: var(--c32);
  background-color: var(--c2);
  border: 4px solid var(--c32);
}

/* --- stats --- */
.stats
{
  width: 100%;
  margin-top: 10em;
}
.stats .s1
{
  width: 100%;
  height: 35em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.stats .s1 img
{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  filter: grayscale(0.8);
  z-index: -1;
}
.stats .s1 .bg
{
  background: var(--c3);
  background: linear-gradient(200deg, rgba(37,153,206,0.6) 0%, rgba(0,0,0,0) 100%);
  opacity: 0.9;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.stats .s1 span
{
  color: var(--c2);
  font: 700 4.0em var(--f1);
  letter-spacing: 0.5em;
  text-align: center;
}
.stats .s2
{
  width: 100%;
  height: 18em;
  display: flex;
}
.stats .s2 .statistic
{
  color: var(--c2);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
}
.stats .s2 .statistic .number
{
  font: 700 4.0em var(--f1);
  text-align: center;
}
.stats .s2 .statistic .title
{
  font: 400 1.5em var(--f1);
  text-align: center;
}

/* --- trenéři --- */
.treneri
{
  color: var(--c2);
  background-color: var(--c1);
  width: 100%;
  padding-top: 2em;
  padding-bottom: 10em;
  position: relative;
}
.treneri .cont
{
  width: 100%;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  gap: 3.5em;
}
.treneri .cont .trener
{
  width: 18em;
  display: flex;
  flex-direction: column;
}
.treneri .cont .trener img
{
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
}
.treneri .cont .trener .line
{
  background-color: var(--c3);
  width: 100%;
  height: 0.5em;
}
.treneri .transLineCont
{
  width: 100%;
  height: 5.0em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -2.5em;
  overflow: hidden;
}
.treneri .transLine
{
  background-color: white;
  width: 110vw;
  height: 3.0em;
  transform: rotate(-1deg);
}
.treneri .cont .trener .name
{
  font: 600 1.5em var(--f1);
  margin-top: 0.2em;
}
.treneri .cont .trener .desc
{
  font: 400 1.0em var(--f1);
  margin-top: 0.5em;
}

/* --- ceník --- */
.cenik
{
  width: 100%;
}
.cenik .cenaCont
{
  width: 100%;
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-flow: wrap;
  gap: 3em;
}
.cenik .cenaCont .cena
{
  width: 18em;
  border: 3px solid rgb(50, 50, 50);
  border-radius: 0.3em;
  padding: 1em 1.5em;
  display: flex;
  flex-direction: column;
  transition: all .12s;
}
.cenik .cenaCont2
{
  gap: 2.0em;
}
.cenik .cenaCont2 .cena
{
  width: 15em;
}
.cenik .cenaCont .cena2
{
  color: white;
  background-color: var(--c32);
}
.cenik .cenaCont .cena3
{
  color: white;
  background-color: rgb(50, 50, 50);
}
.cenik .cenaCont .cena:hover
{
  scale: 1.05;
}
.cenik .cenaCont .cena .name
{
  opacity: 0.9;
  font: 400 1.3em var(--f1);
}
.cenik .cenaCont .cena .price
{
  color: var(--c3);
  font: 700 2.5em var(--f1);
  margin: 0.5em 0;
}
.cenik .cenaCont2 .cena .price
{
  font-size: 2em;
}
.cenik .cenaCont2 .cena .price span
{
  color: var(--c1);
  opacity: 0.6;
  font-size: 0.5em;
}
.cenik .cenaCont .cena2 .price,
.cenik .cenaCont .cena3 .price
{
  color: white;
}
.cenik .cenaCont .cena ul
{
  padding-left: 1em;
  margin: 0;
  margin-bottom: 0.8em;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
.cenik .cenaCont .cena ul li
{
  font: 400 0.9em var(--f1);
}
.cenik .cenaCont .cena .action
{
  color: var(--c1);
  background-color: var(--c2);
  font: 800 1.4em var(--f1);
  border: 4px solid var(--c1);
  border-right-width: 8px;
  border-bottom-width: 8px;
  border-radius: 0.7em;
  margin: 0.5em 0;
  padding: 0.6em 0.6em;
  text-align: center;
  text-decoration: none;
  transition: all .12s;
}
.cenik .cenaCont2 .cena .action
{
  font-size: 1.2em;
}
.cenik .cenaCont .cena .action:hover
{
  opacity: 0.9;
}
.cenik .cenaCont .cena3 .action
{
  color: var(--c2);
  background-color: var(--c1);
  border-color: var(--c2);
}

/* --- recenze --- */
.recenze
{
  width: 100%;
  margin-top: 7em;
}
.recenze .cont
{
  width: 100%;
  min-height: 25em;
  margin-top: 7em;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-flow: wrap;
  gap: 4em;
}
.recenze .cont .rec
{
  width: 20em;
  height: 100%;
  border: 4px solid var(--c32);
  border-radius: 1.5em;
  padding: 4em 1.5em 2em 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.recenze .cont .rec img
{
  aspect-ratio: 1/1;
  width: 8em;
  border: 4px solid rgb(15, 82, 136);
  border-radius: 50%;
  position: absolute;
  top: -4em;
}
.recenze .cont .rec p
{
  font: 400 1.0em var(--f1);
}
.recenze .cont .rec .name
{
  font: 500 1.0em var(--f1);
}

/* @media screen and (max-width: 1000px) */
@media (orientation: portrait)
{
  .uvod .line
  {
    left: 1em;
  }
  .uvod span
  {
    width: 55vw;
  }

  .uvod2 p
  {
    width: 85vw;
  }
  .uvod2 nav
  {
    flex-direction: column;
    gap: 0;
  }

  .cviceni .cvik
  {
    height: 62em;
    display: flex;
    flex-direction: column;
  }
  .cviceni .cvik img
  {
    width: 100%;
    max-height: 26em;
    position: relative;
  }
  .cviceni .cvik .info
  {
    width: 100%;
    position: relative;
  }

  .recenze .cont
  {
    gap: 7em;
  }
}