:root
{
  --c1: black;
  --c2: white;
  --f1: "Poppins";
  --f2: "Oswald";
  --hh: 6em;
}
body
{
  margin: 0;
  margin-bottom: 300px;
}
body *
{
  box-sizing: border-box;
}
.disabled
{
  display: none !important;
}

/* header */
header
{
  background-color: rgba(255, 255, 255, 0.05);
  width: 100%;
  height: var(--hh);
  border-bottom: 1px solid rgba(122, 122, 122, 0.5);
  padding: 0 16vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  backdrop-filter: blur(10px);
  transition: color .25s;
  z-index: 100;

  .name
  {
    font: 600 1.6em var(--f1);
    letter-spacing: 0.2em;
  }
  nav
  {
    font: 700 1.1em var(--f1);
    display: flex;
    gap: 0.25em;

    a
    {
      border-radius: 0.25em;
      padding: 0.7em 1.0em;
      transition: all .12s;
      cursor: pointer;
    }
    a:hover
    {
      background-color: rgba(99, 99, 99, 0.1);
    }
    .spec
    {
      border: 2px solid var(--c2);
      margin-left: 0.8em;
      transition: border .25s;
    }
  }
}
.header-light
{
  color: var(--c1);

  nav .spec
  {
    border-color: var(--c1);
  }
}
.header-dark
{
  color: var(--c2);

  nav .spec
  {
    border-color: var(--c2);
  }
}

/* úvod */
main
{
  background: rgb(22,44,54);
  background: linear-gradient(90deg, rgba(22,44,54,1) 0%, rgba(17,29,34,1) 27%, rgba(15,24,28,1) 69%, rgba(19,25,46,1) 100%);
  width: 100%;
  height: 75vh;
  padding: calc(var(--hh) + 5vh) 0 0 16vw;

  .slogan
  {
    color: var(--c2);
    font: 600 3.0em var(--f2);
    width: 10.5em;
    margin: 0;
    text-transform: uppercase;
  }
}

/* kontakt mini */
.kontakt-mini
{
  /* background-color: rgba(255, 0, 0, 0.3); */
  width: 100%;
  height: 28em;
  margin-bottom: -80px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -15vh;

  .cont
  {
    background-color: rgb(235, 235, 235);
    width: 70%;
    height: 100%;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* weby */
.weby
{
  // background-color: whitesmoke;
  width: 100%;
  // height: 24em;

  .cont
  {
    // height: 85%;
    width: 100%;
    padding: 1em;
    padding-left: calc(50% - 16em);
    display: flex;
    gap: 5.5em;
    overflow: hidden;

    .web
    {
      // background-color: red;
      aspect-ratio: 16/9;
      min-width: 32em;
      border-radius: 1em;
      box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.1);
      position: relative;
      left: 0;
      transition: all .12s;
      
      img
      {
        width: 100%;
        min-height: 100%;
        max-height: 100%;
        border-radius: 1em;
        position: relative;
        // bottom: -0.2em;
        object-fit: cover;
      }
    }
  }
}