:root
{
  --c1: black;
  --c2: white;
  --c3: rgb(6, 36, 75);
  --c4: rgb(63, 131, 209);
  --c5: rgb(20, 20, 20);
  --f1: "Poppins";
  --f2: "Oswald";
  --hh: 6em;
  --fh: 3em;
}
body
{
  margin: 0;
  //margin-bottom: 300px;
}
body *
{
  box-sizing: border-box;
}
.disabled
{
  display: none !important;
}
.sectionName
{
  font: 300 2.0em var(--f1);
  margin-bottom: 3em;
  text-align: center;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 95vh;
  // background-color: #b61924;
  // background-image: url("");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: 50% 50%;
  background: rgb(22,44,54);
  background: linear-gradient(90deg, rgba(22,44,54,1) 0%, rgba(17,29,34,1) 27%, rgba(15,24,28,1) 69%, rgba(19,25,46,1) 100%);
  z-index: 0;
}
#particles-js2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgb(22,44,54);
  background: linear-gradient(90deg, rgba(22,44,54,1) 0%, rgba(17,29,34,1) 27%, rgba(15,24,28,1) 69%, rgba(19,25,46,1) 100%);
  //z-index: 0;
}

/* header */
header
{
  background-color: rgba(255, 255, 255, 0.05);
  width: 100%;
  height: var(--hh);
  border-bottom: 1px solid rgba(122, 122, 122, 0.5);
  padding: 0 16vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  backdrop-filter: blur(10px);
  transition: color .25s;
  z-index: 100;

  .name
  {
    font: 600 1.6em var(--f1);
    letter-spacing: 0.2em;
  }
  nav
  {
    font: 700 1.1em var(--f1);
    display: flex;
    gap: 0.25em;

    a
    {
      border-radius: 0.25em;
      padding: 0.7em 1.0em;
      transition: all .12s;
      cursor: pointer;
    }
    a:hover
    {
      background-color: rgba(99, 99, 99, 0.1);
    }
    .spec
    {
      border: 2px solid var(--c2);
      margin-left: 0.8em;
      transition: all .3s;
    }
    .spec:hover
    {
      color: var(--c1);
      background-color: var(--c4);
      border: 2px solid transparent;
      //padding: 1.3em 1.8em;
    }
  }
}
.header-light
{
  color: var(--c1);

  nav .spec
  {
    border-color: var(--c1);
  }
}
.header-dark
{
  color: var(--c2);

  nav .spec
  {
    border-color: var(--c2);
  }
}

/* úvod */
main
{
  // background: rgb(22,44,54);
  // background: linear-gradient(90deg, rgba(22,44,54,1) 0%, rgba(17,29,34,1) 27%, rgba(15,24,28,1) 69%, rgba(19,25,46,1) 100%);
  width: 100%;
  height: 95vh;
  padding: calc(var(--hh) + 5vh) 0 0 16vw;
  position: relative;
  pointer-events: none;
  overflow-y: hidden;

  .slogan
  {
    color: var(--c2);
    font: 600 3.0em var(--f2);
    width: 10.5em;
    margin: 0;
    text-transform: uppercase;
    z-index: 10;
  }
  .aCont
  {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: start;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    a
    {
      color: var(--c1);
      //background: rgba(80, 103, 187, 0);
      //background: linear-gradient(90deg, rgba(80,104,187,1) 0%, rgba(77,150,185,1) 100%);
      background: var(--c4);
      font: 700 1.4em var(--f1);
      width: fit-content;
      border: 4px solid transparent;
      padding: 0.8em 1.2em;
      border-radius: 0.25em;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;
      transition: all .3s;
      pointer-events: all;

      span
      {
        color: var(--c2);
        //background-color: var(--c1);
        font: 500 1.0em var(--f1);
        padding: 0.5em 0.8em;
        position: absolute;
        top: -1.5em;
        right: -2em;
        backdrop-filter: blur(20px);
      }
    }
    a:hover
    {
      color: var(--c2);
      background: transparent;
      border: 4px solid var(--c2);
      //padding: 1.3em 1.8em;
    }
  }
  
}

/* kontakt mini */
.kontakt-mini
{
  /* background-color: rgba(255, 0, 0, 0.3); */
  width: 100%;
  height: 10em; //28
  margin-bottom: -80px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -15vh;

  .cont
  {
    background-color: rgb(235, 235, 235);
    width: 80%;
    height: 100%;
    border-radius: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .info
    {
      //width: 25%;
      height: 45%;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 1.5em !important;

      span
      {
        font: 600 1.4em var(--f1);
      }
      .iconCont
      {
        color: var(--c2);
        background-color: var(--c1);
        opacity: 0.7;
        aspect-ratio: 1/1 !important;
        width: 5em !important;
        height: 5em !important;
        border-radius: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;

        i
        {
          scale: 1.8;
        }
      }
    }
    a
    {
      color: var(--c2);
      background-color: rgba(0, 0, 0, 0.7);
      font: 600 1.2em var(--f1);
      width: 25%;
      height: 45%;
      border-radius: 0.2em;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}

/* weby */
.weby
{
  width: 100%;
  height: 70vh;
  margin-bottom: 10em;

  .slides
  {
    // height: 85%;
    width: 100%;
    //margin-top: 8vh;
    padding: 1em;
    padding-left: calc(50% - 19em);
    display: flex;
    gap: 5.5em;
    overflow: hidden;

    .web,
    .edgeWeb
    {
      // background-color: red;
      aspect-ratio: 16/9;
      min-width: 38em;
      border-radius: 1em;
      position: relative;
      left: 0;
      transition: all .4s;
      
      img
      {
        width: 100%;
        min-height: 100%;
        max-height: 100%;
        border-radius: 1em;
        box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.25);
        position: relative;
        // bottom: -0.2em;
        object-fit: cover;
      }
    }
  }
  
  .dots 
  {
    text-align: center;
    //position: absolute;
    bottom: 10px;
    width: 100%;
  }
  .dot 
  {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .dot.active 
  {
    background-color: #717171;
  }
  .dot-fake
  {
    opacity: 0;
    pointer-events: none;
  }
}

/* služby */
.sluzby
{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  
  .cont
  {
    width: 60em;
    max-width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25em;

    .sluzba
    {
      background-color: var(--c2);
      min-width: 48.0%;
      max-width: 48.0%;
      height: 12em;
      border-radius: 1.0em;
      padding: 1em;
      box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.10);

      span
      {
        font: 600 1.2em var(--f1);
        display: flex;
        align-items: center;
        gap: 0.8em;

        i
        {
          color: var(--c3);
          font-size: 1.8em;
          //scale: 1.5;
        }
      }
      p
      {
        font: 400 1.0em var(--f1);
        margin: 0;
        margin-top: 0.8em;
      }
    }
  }
}

/* postup */
.postup
{
  background-color: rgb(209, 209, 209);
  width: 100%;
  height: 40em;
  margin-top: 5em;
}

/* kontakt */
.kontakt
{
  background: rgb(22,44,54);
  background: linear-gradient(90deg, rgba(22,44,54,1) 0%, rgba(17,29,34,1) 27%, rgba(15,24,28,1) 69%, rgba(19,25,46,1) 100%);
  width: 100%;
  height: calc(100vh - var(--fh));
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.0em;

  .slogan
  {
    color: var(--c2);
    font: 300 3.0em var(--f1);
    pointer-events: none;
    z-index: 1;

    span
    {
      font-weight: 600;
    }
  }
  button
  {
    color: var(--c2);
    //background: rgba(80, 103, 187, 0);
    //background: linear-gradient(90deg, rgba(80,104,187,1) 0%, rgba(77,150,185,1) 100%);
    background: transparent;
    font: 600 1.2em var(--f1);
    width: fit-content;
    border: 3px solid var(--c2);
    padding: 0.8em 1.2em;
    border-radius: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all .3s;
    z-index: 1;
  }
  button:hover
  {
    color: var(--c1);
    background: var(--c4);
    border-color: transparent;
  }
  .tel
  {
    color: var(--c2);
    font: 200 1.5em var(--f1);
    pointer-events: none;
    z-index: 1;

    .tel2
    {
      font-weight: 500;
      pointer-events: all;
    }
  }
}

footer
{
  color: gray;
  background-color: var(--c5);
  font: 400 1.0em var(--f1);
  width: 100%;
  height: var(--fh);
  padding: 0 5vh;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1100px)
{
  .kontakt-mini
  {
    height: fit-content;
    .cont
    {
      width: 50%;
      padding: 1.5em;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-evenly;
      gap: 2em;
    }
  }
}