:root
{
  --c1: black;
  --c2: white;
  --c3: rgb(6, 36, 75);
  --c4: rgb(63, 131, 209);
  --c5: rgb(20, 20, 20);
  --c6: rgba(63, 131, 209, 0.3);
  --c7: rgb(241, 241, 245);
  --f1: "Poppins";
  --f2: "Oswald";
  --hh: 6em;
  --fh: 5em;
  --particles-js-bg-height: 300vh; //450vh;
  --transition-scroll-effect: 0.04s;
}
html
{
  scroll-behavior: smooth;
}
body
{
  background-color: var(--c7);
  margin: 0;
  //margin-bottom: 300px;
}
body *
{
  box-sizing: border-box;
}
.disabled
{
  display: none !important;
}
.sectionName
{
  font: 300 2.0em var(--f1);
  margin-bottom: 3em;
  text-align: center;

  span
  {
    position: relative;
    //text-decoration: underline;
    //text-decoration-color: var(--c4);
  }
  .underline
  {
    background-color: var(--c4);
    opacity: 2.0;
    width: 100%;
    height: 0.05em;
    position: absolute;
    bottom: 0em;
    left: 0%;
    z-index: 1;
  }
}
.anchor
{
  position: relative;
  top: calc(-6em - 1em);
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 95vh;
  // background-color: #b61924;
  // background-image: url("");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: 50% 50%;
  background: rgb(22,44,54);
  background: linear-gradient(90deg, rgba(22,44,54,1) 0%, rgba(17,29,34,1) 27%, rgba(15,24,28,1) 69%, rgba(19,25,46,1) 100%);
  z-index: 0;
}
#particles-js2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgb(22,44,54);
  background: linear-gradient(90deg, rgba(22,44,54,1) 0%, rgba(17,29,34,1) 27%, rgba(15,24,28,1) 69%, rgba(19,25,46,1) 100%);
  //z-index: 0;
}
#particles-js-bg-l {
  position: absolute;
  top: 95vh;
  width: 20%;
  height: var(--particles-js-bg-height);
  background: var(--c7);
  z-index: -10;
  transition: top var(--transition-scroll-effect);
}
#particles-js-bg-r {
  position: absolute;
  top: 95vh;
  width: 20%;
  left: 80%;
  height: var(--particles-js-bg-height);
  background: var(--c7);
  z-index: -10;
  transition: top var(--transition-scroll-effect);
}

/* header */
header
{
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
  //mix-blend-mode: difference;
  width: 100%;
  height: var(--hh);
  border-bottom: 1px solid rgba(122, 122, 122, 0.5);
  padding: 0 16vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  backdrop-filter: blur(10px);
  transition: color .25s;
  z-index: 100;

  .name
  {
    color: inherit;
    //mix-blend-mode: difference;
    font: 600 1.6em var(--f1);
    letter-spacing: 0.2em;
    text-decoration: none;
  }
  nav
  {
    font: 700 1.1em var(--f1);
    display: flex;
    gap: 0.25em;

    a
    {
      color: inherit;
      //mix-blend-mode: difference;
      border-radius: 0.25em;
      padding: 0.7em 1.0em;
      transition: all .12s;
      text-decoration: none;
      cursor: pointer;
    }
    a:hover
    {
      background-color: rgba(99, 99, 99, 0.1);
    }
    .spec
    {
      border: 2px solid var(--c2);
      margin-left: 0.8em;
      transition: all .3s;
    }
    .spec:hover
    {
      color: var(--c1);
      background-color: var(--c4);
      //mix-blend-mode: normal;
      border: 2px solid transparent;
      //padding: 1.3em 1.8em;
      box-shadow: 0px 0px 30px 0px rgba(63, 131, 209, 0.8);
    }
  }
}
.header-light
{
  color: var(--c1);

  nav .spec
  {
    border-color: var(--c1);
  }
}
.header-dark
{
  color: var(--c2);

  nav .spec
  {
    border-color: var(--c2);
  }
}

/* úvod */
main
{
  // background: rgb(22,44,54);
  // background: linear-gradient(90deg, rgba(22,44,54,1) 0%, rgba(17,29,34,1) 27%, rgba(15,24,28,1) 69%, rgba(19,25,46,1) 100%);
  width: 100%;
  height: 95vh;
  padding: calc(var(--hh) + 5vh) 0 0 16vw;
  position: relative;
  pointer-events: none;
  overflow-y: hidden;

  .slogan
  {
    color: var(--c2);
    font: 600 4rem var(--f2);
    width: 50.0vw;
    margin: 0;
    //text-transform: uppercase;
    z-index: 10;
    margin-top: -.2em;
  }
  .podslogan{
    color: var(--c2);
    font: 300 3.0em var(--f1);
    width: 50.0vw;
    margin: 0;
    //text-transform: uppercase;
    z-index: 10;
    //line-height: 1rem;
    margin-top: 1em;
  }
  .aCont
  {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: start;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    a
    {
      color: var(--c1);
      //background: rgba(80, 103, 187, 0);
      //background: linear-gradient(90deg, rgba(80,104,187,1) 0%, rgba(77,150,185,1) 100%);
      background: var(--c4);
      font: 700 1.4em var(--f1);
      width: fit-content;
      border: 4px solid transparent;
      padding: 0.8em 1.2em;
      border-radius: 0.25em;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;
      transition: all .3s;
      pointer-events: all;

      span
      {
        color: var(--c2);
        //background-color: var(--c1);
        font: 500 1.0em var(--f1);
        padding: 0.4em 0.7em;
        position: absolute;
        top: -1.8em;
        right: -2em;
        backdrop-filter: blur(20px);
      }
    }
    a:hover
    {
      color: var(--c2);
      background: transparent;
      border: 4px solid var(--c2);
      //padding: 1.3em 1.8em;
      box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.4);
    }
  }
  
}

/* kontakt mini */
.kontakt-mini
{
  /* background-color: rgba(255, 0, 0, 0.3); */
  width: 100%;
  height: 10em; //28
  margin-bottom: -80px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -15vh;

  .cont
  {
    //background-color: rgba(235, 235, 235, 0.5);
    width: 80%;
    height: 100%;
    border-radius: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    //backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.4);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border: 1px solid rgba(142, 142, 142, 0.3);

    .info
    {
      //width: 25%;
      height: 45%;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 1.5em !important;

      span
      {
        font: 600 1.4em var(--f1);
      }
      .iconCont
      {
        color: var(--c2);
        background-color: var(--c1);
        opacity: 0.7;
        aspect-ratio: 1/1 !important;
        width: 5em !important;
        height: 5em !important;
        border-radius: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;

        i
        {
          scale: 1.8;
        }
      }
    }
    a
    {
      color: var(--c2);
      background-color: rgba(0, 0, 0, 0.7);
      font: 600 1.2em var(--f1);
      width: 25%;
      height: 45%;
      border-radius: 0.2em;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}

/* weby */
.weby
{
  width: 100%;
  height: 70vh;
  margin-bottom: 8em;

  .slides
  {
    // height: 85%;
    width: 100%;
    //margin-top: 8vh;
    padding: 1em;
    //padding-left: calc(50% - 19em);
    display: flex;
    justify-content: center;
    gap: 5.5em;
    overflow: hidden;

    .web,
    .edgeWeb
    {
      // background-color: red;
      aspect-ratio: 16/9;
      min-width: 38em;
      border-radius: 1em;
      position: relative;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      transition: all .4s;
      
      .img-back
      {
        background-size: 100% 100%;
        width: 100%;
        min-height: 100%;
        max-height: 100%;
        border-radius: 1.0em;
        box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.25);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        // bottom: -0.2em;
        //object-fit: cover;
      }
      .img-front
      {
        aspect-ratio: 16/9;
        width: 95%;
        border-radius: 0.5em;
        position: absolute;
        bottom: 0;
        object-fit: cover;
        transition: all .12s;
      }
    }
    .web:hover .img-front
    {
      width: 105%;
    }
  }
  
  .dots 
  {
    display: flex;
    justify-content: center;
    align-items: center;
    //position: absolute;
    bottom: 10px;
    width: 100%;
    margin-top: 4em;
  }
  .dot 
  {
    cursor: pointer;
    height: 1em;
    width: 1em;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .dot.active 
  {
    background-color: #717171;
  }
  .dot-fake
  {
    opacity: 0;
    pointer-events: none;
  }
}

/* s čím makáme */
.umime
{
  color: var(--c2);
  //background-color: rgba(6, 36, 75, 0.9);
  background: rgb(22,44,54);
  background: linear-gradient(90deg, rgba(22,44,54,1) 0%, rgba(17,29,34,1) 27%, rgba(15,24,28,1) 69%, rgba(19,25,46,1) 100%);
  width: 100%;
  margin-bottom: 7em;
  padding-bottom: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;

  .cont
  {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5em;

    .tech
    {
      color: var(--c2);
      background-color: transparent;
      aspect-ratio: 1/1;
      width: 7em;
      border: 1px solid rgb(50, 50, 50);
      border-radius: 0.5em;
      box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.03);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
      transition: all .2s;

      i
      {
        font-size: 2.5em;
      }
      span
      {
        font: 400 1.0em var(--f1);
      }
    }
    .tech:hover
    {
      color: var(--c1);
      background-color: var(--c2);
      border: 1px solid rgb(201, 201, 201);
      box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.8);
    }
  }
}

/* služby */
.sluzby
{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .cont
  {
    width: fit-content;
    //max-width: 80%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.0em;

    .sluzba
    {
      background-color: var(--c2);
      width: 25em;
      //min-width: 48.0%;
      //max-width: 48.0%;
      height: 18em;
      border: 1px solid rgb(201, 201, 201);
      border-radius: 0.5em;
      padding: 2em;
      box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.03);
      transition: all .2s;

      span
      {
        font: 600 1.5em var(--f1);
        display: flex;
        align-items: center;
        gap: 0.8em;

        i
        {
          //color: var(--c3);
          font-size: 1.4em;
          //scale: 1.5;
        }
      }
      p
      {
        font: 300 1.2em var(--f1);
        margin: 0;
        margin-top: 1.2em;
      }
    }
    .sluzba:hover
    {
      color: var(--c2);
      background-color: var(--c3);
      border: 1px solid transparent;
      box-shadow: 0px 0px 40px 0px rgba(6, 36, 75, 0.8);
    }
  }
}

/* postup */
.postup
{
  margin-top: 7em;
  margin-bottom: 8em;
  

  .cont
  {
    //background-color: rgb(209, 209, 209);
    width: 100%;
    //height: 40em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    
    --bod-width: 24%;
    --bod-width-min: 25em;
    //--bod-height: 20em;
    --bod-indent: 10em;

    .lineCont
    {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      
      .line
      {
        background-color: rgba(128, 128, 128, 0.3);
        width: 0.2em;
        height: 100%;
        border-radius: 1em;

        .innerLine
        {
          background-color: var(--c3);
          width: 100%;
          max-height: 100%;
          min-height: 0;
          transition: height var(--transition-scroll-effect);
        }
      }
    }
    .bod
    {
      width: var(--bod-width);
      min-width: var(--bod-width-min);
      height: var(--bod-height);
      
      .nadpis
      {
        font: 600 2.2em var(--f1);
        display: flex;
        align-items: center;
        gap: 0.5em;
        white-space: nowrap;
      }
      p
      {
        font: 300 1.2em var(--f1);
        margin: 0.5em 0;
      }
    }
    .bod-left
    {
      margin-right: calc(var(--bod-width-min) + var(--bod-indent) + 1em);
      animation: bodAppearLeft linear;
      animation-timeline: view();
      animation-range: entry 0% cover 30%;
    }
    .bod-right
    {
      margin-left: calc(var(--bod-width-min) + var(--bod-indent));
      animation: bodAppearRight linear;
      animation-timeline: view();
      animation-range: entry 0% cover 30%;
    }
  }
}

/* ceník */
.cenik
{
  width: 100%;

  .cont
  {
    width: 100%;
    padding-bottom: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3.5em;

    .cena
    {
      background-color: var(--c2);
      min-width: 20.5em;
      max-width: 20.5em;
      //height: 30em;
      padding: 3.0em 0;
      border: 1px solid rgb(202, 202, 202);
      border-radius: 0.5em;
      overflow: hidden;
      transition: scale .12s;
      z-index: 10;

      h2
      {
        color: var(--c1);
        //background-color: var(--c3);
        font: 400 1.6em var(--f1);
        //padding: 0.7em 0;
        margin: 0;
        margin-top: -0.5em;
        text-align: center;
      }
      h3
      {
        color: var(--c1);
        font: 700 2.6em var(--f1);
        //border-bottom: 2px solid rgb(202, 202, 202);
        padding-top: 0.3em;
        padding-bottom: 0.55em;
        margin: 0 auto;
        margin-bottom: 0.55em;
        position: relative;
        //white-space: nowrap;
        text-align: center;

        .light
        {
          font-size: 0.7em;
          font-weight: 400;
          margin-right: 0.2em;
        }
        .lineCont
        {
          width: 100%;
          height: 2px;
          position: absolute;
          bottom: 0;
          display: flex;
          justify-content: center;

          .line
          {
            background-color: rgb(202, 202, 202);
            width: 80%;
            height: 100%;
          }
        }
      }
      ul
      {
        padding: 0 3.5em;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 0.3em;

        li
        {
          font: 300 1.2em var(--f1);
        }
      }
      .buttonCont
      {
        display: flex;
        justify-content: center;

        button
        {
          background-color: var(--c2);
          font: 500 1.4em var(--f1);
          border-radius: 0.25em;
          margin-top: 4.0em;
          padding: 0.6em 0.9em;
          border: 2px solid var(--c1);
          transition: all .3s;
          cursor: pointer;
        }
        button:hover
        {
          color: var(--c1);
          background-color: var(--c4);
          border: 2px solid transparent;
          //padding: 1.3em 1.8em;
          box-shadow: 0px 0px 30px 0px rgba(63, 131, 209, 0.8);
        }
      }
    }
    .cena:hover
    {
      scale: 1.05;
    }
    .cena-pick
    {
      border: none !important;
      box-shadow: 0px 0px 30px 0px rgba(63, 131, 209, 0.5);

      button
      {
        background-color: var(--c4) !important;
        border: 2px solid transparent !important;
        margin-top: 6.0em !important;
      }
      button:hover
      {
        //background-color: var(--c2) !important;
        //border: 2px solid var(--c1) !important;
        //padding: 1.3em 1.8em;
        //box-shadow: none !important;
        box-shadow: 0px 0px 30px 0px rgba(63, 131, 209, 0.8);
      }
    }
  }
}

/* kontakt */
.kontakt
{
  background: rgb(22,44,54);
  background: linear-gradient(90deg, rgba(22,44,54,1) 0%, rgba(17,29,34,1) 27%, rgba(15,24,28,1) 69%, rgba(19,25,46,1) 100%);
  width: 100%;
  height: calc(100vh - var(--fh));
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.0em;

  .slogan
  {
    color: var(--c2);
    font: 300 3.0em var(--f1);
    text-align: center;
    pointer-events: none;
    z-index: 1;

    span
    {
      font-weight: 600;
    }
  }
  button
  {
    color: var(--c1);
    //background: rgba(80, 103, 187, 0);
    //background: linear-gradient(90deg, rgba(80,104,187,1) 0%, rgba(77,150,185,1) 100%);
    background: var(--c4);
    font: 600 1.2em var(--f1);
    width: fit-content;
    border: 3px solid transparent;
    padding: 0.8em 1.2em;
    border-radius: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all .3s;
    z-index: 1;
  }
  button:hover
  {
    color: var(--c2);
    background: transparent;
    border-color: var(--c2);
    box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.4);
  }
  .tel
  {
    color: var(--c2);
    font: 200 1.5em var(--f1);
    pointer-events: none;
    z-index: 1;

    .tel2
    {
      font-weight: 500;
      pointer-events: all;
    }
  }
}

footer
{
  color: gray;
  background-color: var(--c5);
  font: 400 1.0em var(--f1);
  width: 100%;
  height: var(--fh);
  padding: 0 5vh;
  display: flex;
  //flex-direction: column;
  justify-content: start;
  align-items: center;

  .line
  {
    background-color: gray;
    width: 2px;
    height: 2em;
    border-radius: 1em;
    margin: 0 2.0em;
  }
  .corp
  {
    font: 600 1.4em var(--f1);
    letter-spacing: 0.2em;
  }
  .links
  {
    //background-color: white;
    //margin-top: 0.5em;
    display: flex;
    align-items: center;
    gap: 1.5em;
    
    a
    {
      color: whitesmoke;
      font: 300 1.0em var(--f1);
      text-decoration: none;
      cursor: pointer;
    }
    a:hover
    {
      text-decoration: underline;
    }
  }
}

@keyframes bodAppearLeft
{
  from
  {
    opacity: 0;
    transform: translateX(-50px);
  }
  to
  {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes bodAppearRight
{
  from
  {
    opacity: 0;
    transform: translateX(50px);
  }
  to
  {
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (min-width: 1100px)
{
  .cenik
  {
    .cena-pick
    {
      min-width: 23em !important;
      max-width: 23em !important;
    }
  }
}
@media screen and (max-width: 1100px)
{
  :root
  {
    --fh: 11em;
    --particles-js-bg-height: 500vh; //650vh;
  }
  header
  {
    padding: 0 6vw;

    nav
    {
      display: none !important;
    }
  }
  main
  {
    padding: calc(var(--hh) + 0vh) 0 0 6vw;

    .slogan
    {
      font-size: 3.0em;
      width: 90vw;
    }
    .podslogan
    {
      font-size: 2.8em;
      width: 90vw;
    }
  }
  .kontakt-mini
  {
    height: fit-content;
    .cont
    {
      width: 90%;
      padding: 1.5em;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-evenly;
      gap: 2em;
    }
  }
  .weby
  {
    .slides
    {
      .web
      {
        scale: 0.6;
      }
    }
  }
  .umime
  {
    .cont
    {
      width: 80%;
    }
  }
  .postup
  {
    .cont
    {
      padding-left: 4em;
      align-items: start;
      gap: 2em;

      .lineCont
      {
        padding-left: 2em;
        justify-content: start;
      }
      .bod
      {
        margin-left: 0;
        min-width: 80vw;
        max-width: 80vw;
      
        .nadpis
        {
          white-space: wrap;
        }
      }
    }
  }
  .cenik
  {
    .cena
    {
      min-width: 80vw !important;
      max-width: 80vw !important;
    }
    .cena-pick
    {
      min-width: 85vw !important;
      max-width: 85vw !important;
    }
  }
  footer
  {
    flex-direction: column;
    align-items: start;
    justify-content: center;

    .line
    {
      display: none;
    }
  }
}
@media screen and (max-width: 1350px)
{
  .sluzby
  {
    .cont
    {
      grid-template-columns: 1fr 1fr;

      .sluzba
      {
        max-width: 90vw;
      }
    }
  }
}
@media screen and (max-width: 900px)
{
  .sluzby
  {
    .cont
    {
      grid-template-columns: 1fr;
    }
  }
}
@media screen and (max-width: 620px)
{
  .weby
  {
    .slides
    {
      //padding-left: -50vw !important;
      //display: flex;
      //justify-content: center;
      .web
      {
        //min-width: 100vw !important;
        //max-width: 100vw !important;
        //scale: 0.8;
        //margin-left: 6vw;
      }
    }
  }
}
@media screen and (max-width: 38em)
{
  .weby
  {
    .slides
    {
      //margin-left: -10em;
      //padding-left: 0;
    }
  }
}