@charset "UTF-8";
:root {
  --c1: black;
  --c2: white;
  --c3: rgb(6, 36, 75);
  --c4: rgb(63, 131, 209);
  --c5: rgb(20, 20, 20);
  --c6: rgba(63, 131, 209, 0.3);
  --f1: "Poppins";
  --f2: "Oswald";
  --hh: 6em;
  --fh: 3em;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

body * {
  box-sizing: border-box;
}

.disabled {
  display: none !important;
}

.sectionName {
  font: 300 2em var(--f1);
  margin-bottom: 3em;
  text-align: center;
}
.sectionName span {
  position: relative;
}
.sectionName .underline {
  background-color: var(--c4);
  opacity: 2;
  width: 100%;
  height: 0.05em;
  position: absolute;
  bottom: 0em;
  left: 0%;
  z-index: 1;
}

.anchor {
  position: relative;
  top: -7em;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 95vh;
  background: rgb(22, 44, 54);
  background: linear-gradient(90deg, rgb(22, 44, 54) 0%, rgb(17, 29, 34) 27%, rgb(15, 24, 28) 69%, rgb(19, 25, 46) 100%);
  z-index: 0;
}

#particles-js2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgb(22, 44, 54);
  background: linear-gradient(90deg, rgb(22, 44, 54) 0%, rgb(17, 29, 34) 27%, rgb(15, 24, 28) 69%, rgb(19, 25, 46) 100%);
}

/* header */
header {
  background-color: rgba(255, 255, 255, 0.05);
  width: 100%;
  height: var(--hh);
  border-bottom: 1px solid rgba(122, 122, 122, 0.5);
  padding: 0 16vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: color 0.25s;
  z-index: 100;
}
header .name {
  color: inherit;
  font: 600 1.6em var(--f1);
  letter-spacing: 0.2em;
  text-decoration: none;
}
header nav {
  font: 700 1.1em var(--f1);
  display: flex;
  gap: 0.25em;
}
header nav a {
  color: inherit;
  border-radius: 0.25em;
  padding: 0.7em 1em;
  transition: all 0.12s;
  text-decoration: none;
  cursor: pointer;
}
header nav a:hover {
  background-color: rgba(99, 99, 99, 0.1);
}
header nav .spec {
  border: 2px solid var(--c2);
  margin-left: 0.8em;
  transition: all 0.3s;
}
header nav .spec:hover {
  color: var(--c1);
  background-color: var(--c4);
  border: 2px solid transparent;
  box-shadow: 0px 0px 30px 0px rgba(63, 131, 209, 0.8);
}

.header-light {
  color: var(--c1);
}
.header-light nav .spec {
  border-color: var(--c1);
}

.header-dark {
  color: var(--c2);
}
.header-dark nav .spec {
  border-color: var(--c2);
}

/* úvod */
main {
  width: 100%;
  height: 95vh;
  padding: calc(var(--hh) + 5vh) 0 0 16vw;
  position: relative;
  pointer-events: none;
  overflow-y: hidden;
}
main .slogan {
  color: var(--c2);
  font: 600 4rem var(--f2);
  width: 50vw;
  margin: 0;
  z-index: 10;
  margin-top: -0.2em;
}
main .podslogan {
  color: var(--c2);
  font: 300 3em var(--f1);
  width: 50vw;
  margin: 0;
  z-index: 10;
  margin-top: 1em;
}
main .aCont {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: start;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
main .aCont a {
  color: var(--c1);
  background: var(--c4);
  font: 700 1.4em var(--f1);
  width: -moz-fit-content;
  width: fit-content;
  border: 4px solid transparent;
  padding: 0.8em 1.2em;
  border-radius: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
  pointer-events: all;
}
main .aCont a span {
  color: var(--c2);
  font: 500 1em var(--f1);
  padding: 0.5em 0.8em;
  position: absolute;
  top: -1.5em;
  right: -2em;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
main .aCont a:hover {
  color: var(--c2);
  background: transparent;
  border: 4px solid var(--c2);
  box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.4);
}

/* kontakt mini */
.kontakt-mini {
  /* background-color: rgba(255, 0, 0, 0.3); */
  width: 100%;
  height: 10em;
  margin-bottom: -80px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -15vh;
}
.kontakt-mini .cont {
  width: 80%;
  height: 100%;
  border-radius: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(142, 142, 142, 0.3);
}
.kontakt-mini .cont .info {
  height: 45%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.5em !important;
}
.kontakt-mini .cont .info span {
  font: 600 1.4em var(--f1);
}
.kontakt-mini .cont .info .iconCont {
  color: var(--c2);
  background-color: var(--c1);
  opacity: 0.7;
  aspect-ratio: 1/1 !important;
  width: 5em !important;
  height: 5em !important;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kontakt-mini .cont .info .iconCont i {
  scale: 1.8;
}
.kontakt-mini .cont a {
  color: var(--c2);
  background-color: rgba(0, 0, 0, 0.7);
  font: 600 1.2em var(--f1);
  width: 25%;
  height: 45%;
  border-radius: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* weby */
.weby {
  width: 100%;
  height: 70vh;
  margin-bottom: 10em;
}
.weby .slides {
  width: 100%;
  padding: 1em;
  padding-left: calc(50% - 19em);
  display: flex;
  gap: 5.5em;
  overflow: hidden;
}
.weby .slides .web,
.weby .slides .edgeWeb {
  aspect-ratio: 16/9;
  min-width: 38em;
  border-radius: 1em;
  position: relative;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.4s;
}
.weby .slides .web .img-back,
.weby .slides .edgeWeb .img-back {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  border-radius: 1em;
  box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.25);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weby .slides .web .img-front,
.weby .slides .edgeWeb .img-front {
  aspect-ratio: 16/9;
  width: 95%;
  border-radius: 0.5em;
  position: absolute;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.12s;
}
.weby .slides .web:hover .img-front {
  width: 105%;
}
.weby .dots {
  text-align: center;
  bottom: 10px;
  width: 100%;
  margin-top: 2em;
}
.weby .dot {
  cursor: pointer;
  height: 1em;
  width: 1em;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.weby .dot.active {
  background-color: #717171;
}
.weby .dot-fake {
  opacity: 0;
  pointer-events: none;
}

/* služby */
.sluzby {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sluzby .cont {
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}
.sluzby .cont .sluzba {
  background-color: var(--c2);
  width: 25em;
  height: 18em;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 0.5em;
  padding: 2em;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.03);
  transition: all 0.2s;
}
.sluzby .cont .sluzba span {
  font: 600 1.5em var(--f1);
  display: flex;
  align-items: center;
  gap: 0.8em;
}
.sluzby .cont .sluzba span i {
  font-size: 1.4em;
}
.sluzby .cont .sluzba p {
  font: 300 1.2em var(--f1);
  margin: 0;
  margin-top: 1.2em;
}
.sluzby .cont .sluzba:hover {
  color: var(--c2);
  background-color: var(--c3);
  border: 1px solid transparent;
  box-shadow: 0px 0px 40px 0px rgba(6, 36, 75, 0.8);
}

/* postup */
.postup {
  margin-top: 7em;
  margin-bottom: 5em;
}
.postup .cont {
  width: 100%;
  height: 40em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  --bod-width: 17em;
  --bod-height: 9em;
  --bod-indent: 10em;
}
.postup .cont .lineCont {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}
.postup .cont .lineCont .line {
  background-color: rgba(128, 128, 128, 0.3);
  width: 0.2em;
  height: 100%;
  border-radius: 1em;
}
.postup .cont .lineCont .line .innerLine {
  background-color: var(--c3);
  width: 100%;
  max-height: 100%;
  min-height: 0;
}
.postup .cont .bod {
  width: var(--bod-width);
  height: var(--bod-height);
}
.postup .cont .bod .nadpis {
  font: 600 2.5em var(--f1);
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.postup .cont .bod p {
  font: 300 1.2em var(--f1);
  margin: 0.5em 0;
}
.postup .cont .bod-left {
  margin-right: calc(var(--bod-width) + var(--bod-indent));
  animation: bodAppearLeft linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
.postup .cont .bod-right {
  margin-left: calc(var(--bod-width) + var(--bod-indent));
  animation: bodAppearRight linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

/* kontakt */
.kontakt {
  background: rgb(22, 44, 54);
  background: linear-gradient(90deg, rgb(22, 44, 54) 0%, rgb(17, 29, 34) 27%, rgb(15, 24, 28) 69%, rgb(19, 25, 46) 100%);
  width: 100%;
  height: calc(100vh - var(--fh));
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.kontakt .slogan {
  color: var(--c2);
  font: 300 3em var(--f1);
  pointer-events: none;
  z-index: 1;
}
.kontakt .slogan span {
  font-weight: 600;
}
.kontakt button {
  color: var(--c2);
  background: transparent;
  font: 600 1.2em var(--f1);
  width: -moz-fit-content;
  width: fit-content;
  border: 3px solid var(--c2);
  padding: 0.8em 1.2em;
  border-radius: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 1;
}
.kontakt button:hover {
  color: var(--c1);
  background: var(--c4);
  border-color: transparent;
  box-shadow: 0px 0px 40px 0px rgba(63, 131, 209, 0.8);
}
.kontakt .tel {
  color: var(--c2);
  font: 200 1.5em var(--f1);
  pointer-events: none;
  z-index: 1;
}
.kontakt .tel .tel2 {
  font-weight: 500;
  pointer-events: all;
}

footer {
  color: gray;
  background-color: var(--c5);
  font: 400 1em var(--f1);
  width: 100%;
  height: var(--fh);
  padding: 0 5vh;
  display: flex;
  align-items: center;
}

@keyframes bodAppearLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes bodAppearRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (max-width: 1100px) {
  .kontakt-mini {
    height: -moz-fit-content;
    height: fit-content;
  }
  .kontakt-mini .cont {
    width: 50%;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    gap: 2em;
  }
}/*# sourceMappingURL=main.css.map */